@charset "UTF-8";
@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2b3e50;
  overflow-x: hidden;
}

/* Scroll */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* FIN */
h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p, ol, ul {
  font-size: 1.25em;
  line-height: 1.6;
}

p {
  color: #222;
}

ul {
  color: #fff;
}

section {
  position: relative;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

hr {
  max-width: 400px;
  border-color: #999999;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #2fa4e7;
}
a:focus {
  text-decoration: none;
  color: #2fa4e7;
}

/* Barra de Navegacion */
#header {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.top-header {
  background: #3c4544;
  color: #fff;
  padding: 2.5px;
}

.navbar.affix > .container-fluid {
  box-shadow: 0px 2px 30px 0px #222;
}

.navbar-alternative {
  background-color: #2fa4e7;
}

.navbar-alternative .navbar-nav > li > a {
  color: #fff;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-brand {
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-nav {
  font-weight: 400;
  letter-spacing: 3px;
}

.navbar-alternative li:not(.active) a:hover {
  background: inherit;
  color: #222;
}
.navbar-alternative li:not(.active) a:focus {
  background: inherit;
  color: #222;
}

.navbar-alternative li.active > a {
  transition: 0.3s;
  background: inherit;
  color: #222;
}
.navbar-alternative li.active > a:before {
  width: 100%;
}

/* Nav - fixed */
.logo_nav {
  position: relative;
}

.logo_nav a {
  font-family: "allura";
  font-size: 2.75em;
  letter-spacing: 5px;
  color: #fff;
  text-decoration: none;
}

.logo_nav a:hover {
  color: #222;
  text-decoration: none;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.affix + .container-fluid {
  padding-top: 250px;
  z-index: 1500;
}

.bs-docs-nav {
  margin-bottom: 0;
  border-bottom: 0;
}

/* Fin */
/*Fin barra de navegacion*/
.img-full {
  width: 100%;
}

.brand-before {
  margin: 15px 0;
}

.brand-name {
  margin: 0;
  font-size: 4em;
}

.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: #999999;
}

.box {
  margin-bottom: 20px;
  padding: 30px 15px;
  background: rgba(255, 255, 255, 0.9);
}

.intro-text {
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #3c4544;
  color: #fff;
}
footer .container {
  padding: 2.5%;
}
footer .copyright {
  margin: 0;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #fff;
  }

  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }

  .address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
  }

  .navbar {
    min-height: 0;
    border-radius: 0;
  }

  .navbar-default {
    border: none;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
  }

  .nav > li > a, .navbar-header > a {
    /*padding-bottom: 15px;*/
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-nav > li > a, .navbar-header > a {
    line-height: normal;
  }

  .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
  }
}
/*Header top  */
.contact_info, .social_rrss {
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact_info a, .social_rrss a {
  justify-content: center;
  align-items: center;
  display: flex;
}

.social_rrss a {
  font-size: 1.6em;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  color: #fff;
}
.social_rrss a:hover {
  color: #2fa4e7;
}

/* Fin */
/* IMG central */
.img_central {
  position: relative;
  height: 700px;
  background-image: url("../../content/img_diseño/web-design.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: border-box;
  background-size: 100% 100%;
}

.img_2 {
  position: relative;
  height: auto;
  background: url("../../content/img_diseño/computadoras_conexion.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: border-box;
  background-size: 100% 100%;
}

/*Clases Genericas */
.background-black {
  background: #222;
}

.color-white {
  color: #fff;
}

.margin-5 {
  margin-bottom: 5%;
}

.particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
}

#respuesta_form_contacto {
  min-height: 40px;
}

@media screen and (min-width: 1200px) {
  .box:after {
    content: "";
    display: table;
    clear: both;
  }
}
.seccion-intro .jumbotron.intro {
  color: #fff;
  background: #6f5499;
}
.seccion-intro article {
  z-index: 55;
  position: relative;
}
.seccion-intro .box_background {
  margin: 30px 0;
  padding: 30px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}

.seccion-quien-soy {
  background-color: #222;
}
.seccion-quien-soy .jumbotron {
  background: #00d4ff;
}
.seccion-quien-soy .row p, .seccion-quien-soy .row ul {
  color: #fff;
}
.seccion-quien-soy .row .col-md-8 {
  margin-bottom: 100px;
}

.seccion-mis-servicios {
  padding: 60px;
  margin-bottom: 30px;
  color: inherit;
}
.seccion-mis-servicios.container-fluid {
  padding: 0;
}
.seccion-mis-servicios .box {
  padding: 80px 0;
  margin-bottom: 0;
  background: rgba(152, 167, 179, 0.75);
}
.seccion-mis-servicios h1 {
  text-shadow: 1px 2px 2px #222;
}
.seccion-mis-servicios h2 {
  color: #222;
}
.seccion-mis-servicios p {
  margin-bottom: 15px;
  font-weight: 200;
  color: #222;
}
.seccion-mis-servicios .icono-servicio {
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem;
  background: #f6f6f8;
  border: solid 0.0625rem #d9d9e2;
  text-align: center;
}
.seccion-mis-servicios .jumbotron {
  padding: 0;
}

.seccion-portafolio .image-wrapper {
  height: 200px;
}
.seccion-portafolio .image-wrapper img {
  height: 100%;
  width: 100%;
}
.seccion-portafolio .portfolio-frontground-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.7);
}
.portafolio-item:hover .seccion-portafolio .portfolio-frontground-img {
  transform: scale(1);
  opacity: 1;
}
.seccion-portafolio .portafolio-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 7px 20px #222;
}
.seccion-portafolio .portafolio-img-background {
  width: 102%;
  height: auto;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  transition: all 0.3s ease;
  backface-visibility: hidden;
  display: block;
}
.portafolio-item:hover .seccion-portafolio .portafolio-img-background {
  transform: scale(1.2);
}

.seccion-contacto {
  padding-top: 5%;
  padding-bottom: 5%;
}
.seccion-contacto h1, .seccion-contacto p {
  color: white;
}
.seccion-contacto .jumbotron {
  transition: 0.5s background ease-out, 0.1s border-left, 0.2s border-top, 0.3s border-right, 0.4s border-bottom, 1s color;
}
.seccion-contacto:hover h1, .seccion-contacto:hover p {
  color: black;
}
.seccion-contacto:hover .jumbotron {
  background: lightgreen;
}
.seccion-contacto:hover hr {
  opacity: 0.1;
}

/* -----------------------------------------    Desktops    ------------------------------------- */
/* Large Desktop */
/* Medium Desktop & iPad Pro Landscape */
/* Small Desktop & Galaxy Tab Landscape */
/**** Betheme starts mobile *****/
/* --------------------------------------    Tablets $ Mobile    -------------------------------- */
/* iPad Pro Portrait & iPad I/II Landscape */
/* iPad Pro Portrait & iPad I/II Landscape */
@media only screen and (max-width: 992px) {
  .navbar-header {
    float: none;
  }

  .logo_nav {
    position: absolute;
  }
  .logo_nav a {
    font-size: 2.5em;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }

  .text-center-portrait {
    text-align: center;
  }

  .margin-auto-portrait {
    margin: auto;
  }

  .margin-40px-portrait {
    margin-bottom: 40px;
  }

  .seccion-quien-soy .col-xs-6 {
    width: 100%;
  }
  .seccion-quien-soy .col-xs-6 img {
    width: 50%;
    margin: auto;
  }
}
/* Galaxy Tab Portrait */
/* iPad I/II Portrait */
@media only screen and (max-width: 768px) {
  .resp_ {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .correo {
    text-align: center;
  }
}
/* iPad I/II Portrait */
@media only screen and (max-width: 767px) {
  .logo_nav a {
    padding-left: 8%;
  }

  .navbar-nav {
    margin-left: 0;
  }

  ul, ol {
    padding: 0;
    list-style: none;
  }

  .seccion-portafolio .row {
    max-width: 480px;
    margin: auto;
  }
}
/* iPhone 6+ Landscape */
/* Phone 6 Landscape */
/* Galaxy S3/S4/S5 Landscape*/
/* iPhone 5 Landscape */
@media only screen and (max-width: 568px) {
  .resp_ .col-md-6 .col-sm-12 span {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .logo_nav a {
    padding-bottom: 10px;
    font-size: 2.35em;
  }

  .img_central {
    background-size: 100% 100%;
    height: 400px;
  }
}
/* iPhone 4 Landscape */
@media only screen and (max-width: 480px) {
  .seccion-quien-soy .col-xs-6 img {
    width: 80%;
  }
}
/* iPhone 6+ Portrait */
@media only screen and (max-width: 414px) {
  .seccion-portafolio .portafolio-item {
    width: 100%;
  }
}
/* iPhone 6 Portrait */
/* iPhone 4/5 & Galaxy S3/S4/S5 Portrait */

/*# sourceMappingURL=main.css.map */
