//Color black
    $rippley-color-1: #222;

//Color white
    $rippley-color-2: #fff;

//Color Blue
    $rippley-color-3: #2fa4e7;

//Color Gray
    $rippley-color-4: #3c4544;

//Color Purple
    $rippley-color-5: #6f5499;

//Color lightblue
    $rippley-color-6: #00d4ff;
// Color Body
    $rippley-color-7: #2b3e50;